body {
    font-family: 'Ibarra Real Nova', serif !important;
}

.text-slanted {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}